API_ID=
API_HASH=
BOT_TOKEN=
LOGGER_ID=-1002141133985
GIT_TOKEN=
MONGO_DB_URI=
OWNER_ID=7808531413
OWNER_USERNAME=ixasta1
BOT_USERNAME=Laibaamusicbot
BOT_NAME=˹ʟᴧɪʙᴧ ꭙ ϻᴜꜱɪᴄ˼ ♪
ASSUSERNAME=Asta
SUPPORT_CHANNEL=https://t.me/ixasta1
SUPPORT_CHAT=https://t.me/ixasta1
STRING_SESSION=
STRING_SESSION2=
